body{
    background: #121212;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Open Sans', sans-serif;
    color: #D6D6D6;
}

p{
    color: #c0c0c0;
    font-size: 20px;
}

#intro{
    height: 10vh;
    background-color:#4C5258;
}

#intro h1{
    font-weight: 700;
    font-size: 5vh;
    color:#ebebeb;
}

input[type="color"] {
background: none;
border: 0;
cursor: pointer;
height: 8em;
width: 8em;
}

.pickerDiv, .ButtonDiv{
background: #1E1E1E;
border-radius: 1.5em;
}

*:focus{
outline: none;
}

::-webkit-color-swatch{
border: 0;
border-radius: 0;
}

@media (max-width: 768px) {
    #intro .container{
        justify-content: center;
    }
    .pickerDiv, .ButtonDiv{
        width: 90%;
        border-radius: 1em;
    }
}
